@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.faculty-card-container {
  width: 100%;
  min-height: 30rem;
  height: 70vh;
  font-family: "Raleway", sans-serif;
  color: #fff;
}
.card-wrapper {
  width: 25%;
  aspect-ratio: 0.8;
}
.faculty-card {
  width: 100%;
  height: max-content;
  /* aspect-ratio: 0.8; */
  background-color: #1f1d23;
  border-radius: 2rem;
  flex-direction: column;
  padding: 1rem;
  gap: 1.5rem;
  cursor: pointer;
  position: relative;
}
.profile-pic {
  width: 80%;
  aspect-ratio: 1;
  background: linear-gradient(
    148deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(255, 255, 255, 0.05) 100%
  );
  border-radius: 50%;
  scale: 0.9;
}
.profile-pic img {
  width: 80%;
  aspect-ratio: 1;
}
.faculty-name {
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: 3px;
}
.position {
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 2px;
}
.socials {
  width: 50%;
  justify-content: space-between;
}
.socials .social-icon {
  width: 2.25rem;
  aspect-ratio: 1;
  background-color: #ffbc59;
  border-radius: 50%;
  cursor: pointer;
}
.socials .social-icon img {
  width: 60%;
  aspect-ratio: 1;
  align-items: center;
  margin-left: 19%;
}

.mobile-nav-menu-icon {
  position: sticky;
  top: 0;
  left: 0;
  padding: 1.5rem 0 0 1.5rem;
  margin-bottom: -1rem;
  z-index: 250;
  justify-content: space-between;
  display: none;
}
.menu-icon-img {
  width: 2.5rem;
  cursor: pointer;
}
.mobile-nav {
  display: none;
  opacity: 0%;
}
.show-menu {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 200;
  gap: 4rem;
  opacity: 100%;
  transition: all;
  transition-duration: 2s;
  transition-delay: 1s;
}
.mobile-navitem {
  color: #fff;
  font-size: 2rem;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  letter-spacing: 3px;
}
.remove-def {
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.faculty-card-back {
  position: absolute;
  width: 25%;
  letter-spacing: 2px;
  font-size: 1.1rem;
  text-align: justify;
  opacity: 0;
  pointer-events: none;
  transition: all 0.5s ease-in;
}

.author-container {
  width: 100%;
  justify-content: flex-start;
  gap: 2rem;
}
.author-container a {
  text-decoration: none;
  color: #ff7b00;
  letter-spacing: 1px;
}
.verticaltestimonialgrid .itemcontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.blog-desc {
  font-size: 1rem;
}
.text-center {
  width: 100%;
  text-align: center;
}
.maintitle .subheading {
  margin-top: 1rem;
}
.logowrapper {
  margin: 0 auto;
  width: 90%;
}
.logowrapper p {
  line-height: 1.75rem;
  width: 100%;
}
.lastitemreveision .paragraphdesign {
  color: #fff;
}
.domain-card {
  cursor: pointer;
}
.domain-desc {
  display: none;
  width: 100%;
}
.domain-card:hover .domain-desc {
  display: block;
  font-size: 0.9rem;
}
.domain-card:hover .iconcontainer {
  display: none;
}
.domain-card:hover .heading-3 {
  display: none;
}
.check {
  width: 80%;
  height: 100%;
  position: absolute;
  display: none;
  margin-top: 5rem;
  pointer-events: none;
  font-size: 1.1rem;
}
.info-card {
  width: 100%;
  flex-direction: column;
  justify-content: start;
  gap: 1rem;
}
.info-card:hover {
  opacity: 0;
}

@media screen and (max-width: 991px) {
  /* .faculty-card {
    width: 100%;
  } */
  .card-wrapper {
    width: 50%;
  }
  .socials {
    width: 70%;
  }
  .faculty-card-container {
    height: 60vh;
  }
  .faculty-card-back {
    width: 50%;
    font-size: 1rem;
  }
  .check {
    font-size: 1rem;
  }
  .sectionsmallheaders {
    max-width: 100%;
    text-align: center;
    font-size: 1rem;
    letter-spacing: 3px;
    color: #fff;
  }
}
@media screen and (max-width: 479px) {
  /* .faculty-card {
    width: 75%;
  } */
  .card-wrapper {
    width: 75%;
  }
  .socials {
    width: 70%;
  }
  .mobile-nav-menu-icon {
    display: flex;
  }
  .faculty-card {
    height: 60vh;
    padding: 0.25rem;
  }
  .faculty-card-back {
    width: 95%;
    font-size: 0.8rem;
  }
  .check {
    font-size: 0.9rem;
  }
  .blog-desc {
    font-size: 0.9rem;
  }
  .sectionsmallheaders {
    max-width: 100%;
    text-align: center;
    font-size: 1rem !important;
    letter-spacing: 3px;
    color: #fff;
  }
  .text-desc {
    font-size: 0.8rem;
    text-align: left;
    color: #706f75 !important;
  }
  .text-center {
    width: 100%;
    font-size: 0.9rem;
    text-align: left;
  }
  .logowrapper {
    margin: 0 auto;
    width: 100%;
  }
  .logowrapper p {
    line-height: 1.5rem;
    width: 100%;
  }
  .domain-card {
    height: 35vh;
  }
  .benefitscontentright {
    width: 100%;
    height: 100%;
  }
  .center-vertically {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.profile-icons {
  width: 30%;
  display: flex;
  justify-content: space-between;
  scale: 1.2;
  margin-top: 1rem;
}
